@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Available Categories</h2 >
        </div>
    </div>
    <div class="col-6">
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
            <i class="bi bi-plus-square-fill"></i> Create New Category
        </a>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <td width="30%">
                    @category.Name
                </td>
                <td width="20%">
                    @category.DisplayOrder
                </td>
                <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
                    </div>
                </td>
                 <td width="10%">
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"
                        class="btn btn-primary mx-2"><i class="bi bi-x-square"></i> Delete</a>
                    </div>
                </td>

            </tr>
        }
    </tbody>
</table>

